html {
    font-size: 24px;
    color: #0f0f0f;
    font-family: "Lato", sans-serif; /* Google Fonts is cool! */
    background: whitesmoke;
}

/* Centreer alle h1 en h2 elementen */
h1,
h2 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

h1 {
    font-size: 2.4em;
    text-transform: uppercase;
    color: #ed1576;
}

h2 {
    font-size: 3.2em;
    font-style: italic;
    color: #4c4c4c;
    text-transform: capitalize;
}

p {
    text-indent: 2em;
    line-height: 1.5em;
}

a {
    color: #c12c56;
    text-decoration: underline;
}

a:hover {
    color: #bf7489;
}

.background {
    background: url("../img/background-tile.gif") repeat fixed;
}

.numbers-table {
    border-collapse: separate;
    border-spacing: 8px;
    border: 2px solid black;
}

.numbers-table > tbody > tr > th:first-of-type {
    border-right: 1px solid black;
    padding-right: 8px;
}

.numbers-table > tbody > tr:first-of-type > th {
    border-bottom: 1px solid black;
}

.numbers-table > tbody > tr:first-of-type > th:first-of-type {
    border: none;
}

.numbers-table,
.achtergrondje,
.definitielijstje {
    display: inline-block;
}

.achtergrondje {
    /*float: right;*/
    list-style-type: none;
}

.achtergrondje > li > ul > li {
    color: #fff;
    background: url("../img/achtergrondje.jpg") no-repeat;
    background-size: 380px auto;
}

.definitielijstje > dd {
    font-style: italic;
    color: #4c4c4c;
}
